body{
  font-family: sans-serif;
  margin: auto;
  width:50%;
}

/*img:hover {
  animation: rotate 0.5s;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  100% { transform: translate(-1px, -2px) rotate(-360deg);
}*/
