
body{
  font-family: sans-serif;
  margin: auto;
  width:40em;
  background-color: rgba(236, 60, 110, 1);
  background-color: rgba(23, 226, 191, 1);
}

header{
  margin: auto;
  width: 50%;
  color:rgb(67, 47, 211);
  color:white;
  padding-top: 10px;
  text-align: center;
}

#bag{
  position: absolute;
  bottom:0;
  left:10%;
  z-index: -1;
}

#flex{
  display: flex;
}

img{
  padding: 8px;
  padding-top: 100px;
}

/**/
#wsoverlay, #poverlay, #koverlay{
  background-color: rgba(255, 255, 255, 1);
  border-radius: 15px 50px 30px;
  position:absolute;
  top:20%;
  left:8%;
  width:40em;
  height:20em;
  display:none;
}

#wsoverlay img, #poverlay img, #koverlay img{
  background-color: rgb(236, 60, 110);
  position:absolute;
  top:15%;
  padding: 10px;
  margin-top:10px;
  margin-bottom:10px;
  margin-left: 30px;
}

h2{
  position: absolute;
  top:15%;
  right:15%;
}

p{
  padding:10px;
  position: absolute;
  top:45%;
  left:45%;
  width:20em;
  margin:0;
}

div{
  position: absolute;
  color:white;
  top:0;
  right:0;
}

footer{
  position: fixed;
  bottom:0;
  right:0;
  padding:5px, 5px, 0px, 5px;
}

ul{
  display:flex;
}

li{
  list-style-type: none;
  padding-right: 8px;
}

a{
  color:white;
}

@media only screen and (min-width:769px) {
  body{

  }

  #bag{
    left:25%;
    padding:0;
    margin:0;
  }

  #wsoverlay, #poverlay, #koverlay{
    top:20%;
    left:30%;
  }

  #woodstock img{
    margin-top: 60px;
  }
  #kermit img{
    margin-top: 80px;
  }
}

/*Image roates 360 when mouse hovers over*/
#woodstock img:hover {
  animation: rotate 0.5s;
  animation-iteration-count: infinite;
}

#pencil img:hover {
  animation: rotate 0.5s;
  animation-iteration-count: infinite;
}

#kermit img:hover {
  animation: rotate 0.5s;
  animation-iteration-count: infinite;
}

/*frame rates for the the rotation animation when mouse hovers over*/
@keyframes rotate {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  100% { transform: translate(-1px, -2px) rotate(-360deg);
}
