@import url('https://fonts.googleapis.com/css?family=Poppins:400,600');

body{
  width:1366px;
  margin: auto;
  width: 50%;
  font-family: 'Poppins', sans-serif;
}

h1{
  padding-top: 10px;
}

li{
  font-size: 14px;
}
